johnlimadev/force-app/main/default/flows/Discount_Calculator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Discount_0</name>
        <label>Discount 0%</label>
        <locationX>664</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_discount_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_10</name>
        <label>Discount 10%</label>
        <locationX>659</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_discount_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_5</name>
        <label>Discount 5%</label>
        <locationX>664</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_discount_field</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Discount</name>
        <label>Determine Discount</label>
        <locationX>390</locationX>
        <locationY>365</locationY>
        <defaultConnector>
            <targetReference>Discount_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Discount</defaultConnectorLabel>
        <rules>
            <name>Full_Discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Records.AnnualRevenue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0E8</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discount_10</targetReference>
            </connector>
            <label>Full Discount</label>
        </rules>
        <rules>
            <name>Partial_Discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Records.AnnualRevenue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0E8</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Records.AnnualRevenue</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0E8</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discount_5</targetReference>
            </connector>
            <label>Partial Discount</label>
        </rules>
    </decisions>
    <interviewLabel>Discount Calculator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Discount Calculator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Records</name>
        <label>Get Account Records</label>
        <locationX>177</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Discount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_discount_field</name>
        <label>Update discount field</label>
        <locationX>928</locationX>
        <locationY>382</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Discount_Percentage__c</field>
            <value>
                <elementReference>discount</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Discount %</description>
        <name>discount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
