johnlimadev/force-app/main/default/flows/Pend_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_Case_Owner_and_Approver</name>
        <label>Alert Case Owner and Approver</label>
        <locationX>182</locationX>
        <locationY>2822</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Approve this</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>johnmaykbrito@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Approve this also</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>402</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>ListOfMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Messages</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Messages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver_Mdt_Id</name>
        <label>Assign Approver Mdt Id</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>ApproverMdtId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApproversPicklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Approval_Mdt_Approver_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver_User_Record</name>
        <label>Assign Approver User Record</label>
        <locationX>270</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_Messages.Mock_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_User_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Message_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_User_as_Mock_Approver</name>
        <label>Assign Current User as Mock Approver</label>
        <locationX>534</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_Messages.Mock_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_User_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Message_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Message_Stage</name>
        <label>Change Message Stage</label>
        <locationX>402</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_Messages.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Toggle_to_True</name>
        <label>Set Toggle to True</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Dispatch_or_Submit_Toggle.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Input_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dispatch_or_Submit_for_Approval</name>
        <label>Dispatch or Submit for Approval</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Set_Toggle_to_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Submit</defaultConnectorLabel>
        <rules>
            <name>Dispatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_User_Permission_Record_MDT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_User_Permission_Record_MDT.Skip_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dispatch_or_Submit_Screen</targetReference>
            </connector>
            <label>Dispatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_They_Match</name>
        <label>Do They Match?</label>
        <locationX>600</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Messages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>They_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MultiSelectMessages</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_on_Messages.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Submit_for_Approval</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Messages</name>
        <label>Has Messages?</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>No_Messages_Retrieved_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Draft_Messages</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dispatch_or_Submit_for_Approval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Submit_for_Approval</name>
        <label>Is Submit for Approval?</label>
        <locationX>402</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>Assign_Current_User_as_Mock_Approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Submit_for_Approval_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dispatch_or_Submit_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_User_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>MessagesRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Descriptive_Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <object>Message__c</object>
        <outputAssignments>
            <assignToReference>messageId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PendApprovers</name>
        <dataType>String</dataType>
        <displayField>Name_And_Username__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pend_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case_Approver__mdt</object>
        <sortField>Approver_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>WakeupDateFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY()+5</expression>
    </formulas>
    <interviewLabel>Pend Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pend Case</label>
    <loops>
        <name>Loop_on_Messages</name>
        <label>Loop on Messages</label>
        <locationX>182</locationX>
        <locationY>1454</locationY>
        <collectionReference>Get_Draft_Messages</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Do_They_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Result_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Audit_Trail_for_Case</name>
        <label>Create Audit Trail for Case</label>
        <locationX>182</locationX>
        <locationY>2582</locationY>
        <connector>
            <targetReference>Update_Messages</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>AuditTrailDescription</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_Trail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Approval_Mdt_Approver_Record</name>
        <label>Get Approval Mdt Approver Record</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Approver_User_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApproverMdtId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Approver__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approver_User_Record</name>
        <label>Get Approver User Record</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Messages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Approval_Mdt_Approver_Record.Approver_Username__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_User_Permission_Record_MDT</name>
        <label>Get Current User Permission Record MDT</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Draft_Messages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approver_Username__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_User_Record.Username</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Approver__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_User_Record</name>
        <label>Get Current User Record</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_User_Permission_Record_MDT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Draft_Messages</name>
        <label>Get Draft Messages</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Messages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Message__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Messages</name>
        <label>Update Messages</label>
        <locationX>182</locationX>
        <locationY>2702</locationY>
        <connector>
            <targetReference>Alert_Case_Owner_and_Approver</targetReference>
        </connector>
        <inputReference>ListOfMessages</inputReference>
    </recordUpdates>
    <screens>
        <name>Dispatch_or_Submit_Screen</name>
        <label>Dispatch or Submit Screen</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_Input_Screen</targetReference>
        </connector>
        <fields>
            <name>Dispatch_or_Submit_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Manually choose Approver</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Messages_Retrieved_Screen</name>
        <label>No Messages Retrieved Screen</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Good_Bye_Message</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;i&gt;No Draft Messages.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Screen</name>
        <label>Result Screen</label>
        <locationX>182</locationX>
        <locationY>2462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Audit_Trail_for_Case</targetReference>
        </connector>
        <fields>
            <name>Show_Date</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;i&gt;You don&apos;t have the right to skip approval!&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;i&gt;Keep going!&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Date: {!Wakeup_Date}&lt;/p&gt;&lt;p&gt;Audit Comment: {!Audit_Trail_Comment}&lt;/p&gt;&lt;p&gt;Messages: {!MultiSelectMessages}&lt;/p&gt;&lt;p&gt;Approver: {!ApproversPicklist}&lt;/p&gt;&lt;p&gt;List of: {!ListOfMessages}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Input_Screen</name>
        <label>User Input Screen</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Approver_Mdt_Id</targetReference>
        </connector>
        <fields>
            <name>User_Input_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Input_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MultiSelectMessages</name>
                    <choiceReferences>MessagesRecordChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Messages</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Input_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ApproversPicklist</name>
                    <choiceReferences>PendApprovers</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Approver</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Dispatch_or_Submit_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>User_Input_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Input_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Wakeup_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>WakeupDateFormula</elementReference>
                    </defaultValue>
                    <fieldText>Wakeup Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please, enter a valid date&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Wakeup_Date}&gt;TODAY()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Input_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Audit_Trail_Comment</name>
                    <fieldText>Audit Trail Comment</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_User_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AuditTrailDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Case submitted for approval (not). Wakeup Date: {!Wakeup_Date}. {!Audit_Trail_Comment}</text>
    </textTemplates>
    <variables>
        <name>ApproverMdtId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfMessages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Message__c</objectType>
    </variables>
    <variables>
        <name>messageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
